
@font-face {
    font-family:"icomoon";
    src:url("icomoon.woff2") format("woff2"),url("icomoon.woff") format("woff"),url("icomoon.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        